body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  height: 100%;
  font-family: arial, sans-serif;
}

.links {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 35px;
  margin-top: 20px;
  text-align: right;
}

.links li {
  list-style-type: none;
  margin-left: 12px;
  padding-left: 10px;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#apps {
  display: inline-block;
  width: 15px;
}

#anmelden {
  background-color: #4486F8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 10px;
}

.links a:link {
  color:inherit;
}

.links a:visited {
  color:inherit;
}

.links img:hover {
  filter:contrast(1000%);
}

.logo {
  width: 270px;
  display:block;
  margin: 200px auto auto auto;
}

.searchbar {
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 8px;
}

input {
  margin-top: 21px;
  width: 44%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid grey;
  box-shadow:0px 1px 1px grey;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.horizontal-list {
  text-align: center;
	list-style: none;
	padding-top: 20px;
  font-size: 13px;
  font-family: arial;
	}

.search-options li {
	display: inline-block;
  background-color: #F8F8F8;
  font-family: arial;
  padding: 15px 20px;
  margin: 2px;
  font-size: 13px;
  font-weight: bold;
  color: grey;
  border-radius: 2px;
}

.search-options li:hover {
  border: 1px solid grey;
  color: black;
}

.languages li {
  display: inline-block;
  margin: 2px;
}

.language-description {
  display: inline-block;
}

.whole-footer {
position:fixed;
left:0px;
bottom:0px;
width:100%;
}

.top-footer {
  background-color: #F2F2F2;
  padding: 10px 0px;
  font-family: arial;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: solid 1px grey;
}

.top-footer div {
  margin: 0;
  border: 0;
  padding: 0px 20px;
}

.bottom-footer {
  background-color: #F2F2F2;
  padding: 10px 0px;
  font-family: arial;
  font-size: 13px;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: solid 1px grey;
}

.links-left {
  margin: 0;
  border: 0;
  padding: 0px 20px;
  display: inline-block;
}

.links-left span {
padding-right: 20px;
}

.links-right {
  margin: 0;
  border: 0;
  padding: 0px 20px;
  float: right;
  display: inline-block;
}

.links-right span {
padding-left: 20px;
}

.hover-underline:hover {
  text-decoration:underline;
}

a:link {
  text-decoration: none;
}

.bottom-footer a:link {
  color: inherit;
}

.bottom-footer a:visited {
  color:inherit;
}
