li {
  float: left;
  list-style-type: none;
  margin-left: 10px;
}
#externalities {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 20px;
}
#logo {
  width: 270px;
  display:block;
  margin: 200px auto 0 auto;
}
