body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  height: 100%;
  font-family: arial, sans-serif;
}

#externalities {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 35px;
  margin-top: 20px;
  text-align: right;
}

#externalities li {
  list-style-type: none;
  margin-left: 12px;
  padding-left: 10px;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#anmelden {
  background-color: #4486F8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 10px;
}

#externalities img {
  display: inline-block;
  width: 15px;
}

#externalities img:hover {
  filter:contrast(1000%);
}

#logo {
  width: 270px;
  display:block;
  margin: 200px auto auto auto;
}

#searchbar {
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 8px;
}

input {
  margin-top: 21px;
  width: 44%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid grey;
  box-shadow:0px 1px 1px grey;
}

#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  text-align: center;
	}

	ul#horizontal-list li {
		display: inline-block;
    background-color: #F8F8F8;
    font-family: arial;
    padding: 15px 20px;
    margin: 2px;
    font-size: 13px;
    font-weight: bold;
    color: grey;
    border-radius: 2px;
	}

  #language-options{
    height: 84px;
  }

#description {
  display: inline-block;
}

ul#language-list {
  display: inline-block;
  text-align: center;
  min-width: 696px;
	list-style: none;
	padding-top: 20px;
  font-size: 13px;
  font-family: arial;
}

ul#language-list li {
  display: inline-block;
  margin: 2px;
}

#one {
  background-color: #F2F2F2;
  padding: 10px 0px;
  font-family: arial;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: solid 1px grey;
}

#one div {
  margin: 0;
  border: 0;
  padding: 0px 20px;
}

#two {
  background-color: #F2F2F2;
  padding: 10px 0px;
  font-family: arial;
  font-size: 13px;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: solid 1px grey;
}

#links-one {
  margin: 0;
  border: 0;
  padding: 0px 20px;
  display: inline-block;
}

#links-one span {
padding-right: 20px;
}

#links-two {
  margin: 0;
  border: 0;
  padding: 0px 20px;
  float: right;
  display: inline-block;
}

#links-two span {
padding-left: 20px;
}

#total {
position:fixed;
left:0px;
bottom:0px;
width:100%;
}

.hover-underline:hover {
  text-decoration:underline;
}

a:link {
  text-decoration: none;
}

#horizontal-list li:hover {
  border: 1px solid grey;
  color: black;
}
